* {
  margin: 0;
  color: white;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
}

h1 {
  text-align: center;
  font-family: "VW";
  letter-spacing: 1px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 150px 300px;
}

h2 {
  padding-top: 30px;
  padding-bottom: 10px;
}

h3 {
  padding-top: 40px;
  padding-bottom: 5px;
}

p {
  line-height: 1.5;
}
