* {
  margin: 0;
  color: white;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
}

.middle {
  padding: 150px 300px;
}

.header {
  margin-bottom: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 200px;
  border-radius: 16px;
  margin: 0 12px 12px 0;
  padding: 24px;
  background-color: #191919;
  display: flex;
  flex-direction: column;
}

.item img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.item h3 {
  width: 100%;
  overflow: visible;
  margin-bottom: 15px;
  font-size: 14px;
  color: #35a7ff;
}

.bottom {
  display: block;
  margin-top: auto;
}

.price {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
  position: relative;
}

.button-cnt {
  width: 100%;
}

.button {
  display: flex;
  border-radius: 4px;
  background-color: #35a7ff;
  width: 100%;
  height: 32px;
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #007fe0;
}
