@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

* {
  margin: 0;
  color: white;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
}

.login-box {
  width: 430px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: #191919;
  border-radius: 16px;
  padding: 50px;
}
.login-box h1 {
  float: left;
  border-bottom: 6px solid white;
  margin-bottom: 20px;
  padding: 13px 0;
  font-family: "VW";
  letter-spacing: 1px;
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 15px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid white;
}
.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn {
  width: 100%;
  background: none;
  border: 2px solid white;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
}

.btn:hover {
  background-color: #35a7ff;
  border-color: #35a7ff;
}

.login-box p {
  font-size: 18px;
}

p {
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.5);
}

.a-blue {
  color: #35a7ff;
  text-decoration: none;
  opacity: 1;
}
